network==0.1
numpy==2.3.3
pandas==2.3.3
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
tzdata==2025.2

ipykernel
matplotlib

black

scikit-lear
# Pythonで利用できるデータ分析や機械学習のためのライブラリの一つ

pingouin


# pip install -r requirements.txt